
<ion-content >

  <div id="login-top">
    <img src="../../../assets/tesla_logo.png">
  </div>
  <div class="ion-padding">
    <ion-list>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input  [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="senha"></ion-input>
      </ion-item>

    </ion-list><br><br>

    <ion-button color="dark" expand="block" (click)="login()">Enviar</ion-button>

    <br><br><br><br>
  <ion-text href="/forgot" (click)="esqueci()" color="danger"> 
    <p class="ion-text-right">Esqueci minha senha</p> 
  </ion-text>

  </div>

</ion-content>
